<div id="grid" class="grid">
  <h1>List of {count} people and their hobbies</h1>
  <h3>Last Updated Row: <span>{last-updated}</span> Total Update: <span>{total-update}</span></h3>

  <div class="captions">
    <div class="column id">ID</div>
    <div class="column name">Name</div>
    <div class="column surname">Surname</div>
    <div class="column income">Monthly Income</div>
    <div class="column tribe">Tribe</div>
    <div class="column village">Village</div>
    <div class="column hobbies">Hobbies</div>
    <div class="clear"></div>
  </div>
  <div class="rows">
    {rows}
  </div>
</div>
